{% extends "base.html" %}
{% block content %}
<section id="content">
  <h1 class="section-title">Archives</h1>
  <ul class="latest-list">
    {% for article in dates %}
    <ul>
      <li class="thumbs">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
          <img style="background-image:url({{ SITEURL }}/{% if article.image %}{{ article.image }}{% else %}images/placeholder.png{% endif %});"/>
        </a>
      </li>
      <li>
        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <p class="post-info">Published on <abbr class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr></p>
        <p class="tags">
          {% for tag in article.tags|sort %}
          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if loop.last == False %},{% endif %}
          {% endfor %}
        </p>
      </li>
    </ul>
    {% endfor %}
  </ul>
</section><!-- /#content -->
{% endblock %}



