{% extends "base.html" %}
{% block content %}
<section id="content">
  {% block content_title %}
  {% endblock %}
  {% if page_name == "index" %}
  <h1 class="section-title">Most Recommended</h1>
  <ul class="latest-list">
    {% for tag, articles in tags %}
    {% if tag.name == "recommended" %}
    {% for article in articles|sort(attribute='date', reverse=True) %}
    {% if loop.index0 < 4 %}
    <ul>
      <li class="thumbs">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
          <img style="background-image:url({{ SITEURL }}/{% if article.image %}{{ article.image }}{% else %}images/placeholder.png{% endif %});"/>
        </a>
      </li>
      <li>
        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
        <p class="post-info">{{article.description}}</p>
      </li>
    </ul>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
  </ul>
  <a href="{{ SITEURL }}/tag/recommended/" class="button">More »</a>
  <h1 class="section-title">Latest</h1>
  <ul class="latest-list">
    {% for article in articles|sort(attribute='date', reverse=True) %}
    {% if loop.index0 < 10 %}
    <ul>
      <li class="thumbs">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
          <img style="background-image:url({{ SITEURL }}/{% if article.image %}{{ article.image }}{% else %}images/placeholder.png{% endif %});"/>
        </a>
      </li>
      <li>
        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <p class="post-info">Published on <abbr class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr></p>
        <p class="tags">
          {% for tag in article.tags|sort %}
          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a>{% if loop.last == False %},{% endif %}
          {% endfor %}
        </p>
      </li>
    </ul>
    {% endif %}
    {% endfor %}
  </ul>
{% else %}
  <h1 class="section-title">{{ page_name }}</h1>
  <ul class="latest-list">
    {% for article in articles_page.object_list %}
    <ul>
      <li class="thumbs">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
          <img style="background-image:url({{ SITEURL }}/{% if article.image %}{{ article.image }}{% else %}images/placeholder.png{% endif %});"/>
        </a>
      </li>
      <li>
        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <p class="post-info">Published on <abbr class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr></p>
        <p class="tags">
          {% for tag in article.tags|sort %}
          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a>{% if loop.last == False %},{% endif %}
          {% endfor %}
        </p>
      </li>
    </ul>
    {% endfor %}
  </ul>
{% endif %}
  <a href="{{ SITEURL }}/archives.html" class="button">More »</a>
</section><!-- /#content -->
{% include 'pagination.html' %}
{% endblock content %}
