{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in page.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}
  {% for description in page.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}
  {% for tag in page.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
<section id="content" class="body">
  <div class="entry-content" style="border-top: 0 !important;">
    {{ page.content }}
  </div><!-- /.page-content -->
</section>
{% endblock %}
